<footer class="footer-container">
    <div class="section-left">
        <div class="div-title-footer">
            <h2 class="title-footer">¿Te mueve la idea de poder ayudar a otros?</h2>
        </div>
        <div class="subscription-box">
            <input type="email" placeholder="Escribe tu e-mail" class="email-input">
            <button class="contact-button">Contáctanos</button>
          </div>
          <div class="footer-links">
            <a href="#" class="footer-link">Faqs</a>
            <a href="#" class="footer-link">Políticas de Privacidad</a>
            <a href="#" class="footer-link">Términos y Condiciones</a>
          </div>
          <div class="div-logo"> 
            <div class="social-media-icons">
                <a href="#" class="social-icon"> <img src="assets/images/f-twitter.png"alt=""></a>
                <a href="#" class="social-icon"> <img src="assets/images/ff-insta.png"alt=""></a>
                <a href="#" class="social-icon"> <img src="assets/images/ff-facebbok.png"alt=""></a>
                <a href="#" class="social-icon"> <img src="assets/images/ff-linke.png"alt=""></a>
                <a href="#" class="social-icon"> <img src="assets/images/ff-youtube"alt=""></a>
              </div>
              <div class="footer-branding">
                <img src="assets/images/logo-negro.png" alt="Logo Starken" class="footer-logo">
              </div>
          </div>
    </div>
    <div class="section-rigth">
        <img src="assets/images/footer-1.png"alt="">
    </div>
  </footer>
  
