<!-- src/app/shared/components/subheader/subheader.component.html -->
<div *ngIf="showSubheader" class="subheader-container subheader-content">
  <div class="row w-100">
    <div class="w-auto">
      <h1>{{ (title ?? '') | translate }}</h1>
    </div>
    <div>
      <span>{{ (descriptions ?? '') | translate }}</span>
    </div>
  </div>
  <div class="progress-container">
    <div class="progress-item ms-3">
      <span>{{ 'SUBHEADER.GROUP_REVIEW' | translate }}</span><span class="fw-bold ms-2">420/600</span>
      <nz-progress [nzPercent]="70" nzStrokeColor="#F79433" nzSize="small"></nz-progress>
    </div>
    <div class="progress-item ms-3">
      <span>{{ 'SUBHEADER.INDIVIDUAL_REVIEW' | translate }}</span><span class="fw-bold ms-2">100/200</span>
      <nz-progress [nzPercent]="50" nzStrokeColor="#F79433" nzSize="small"></nz-progress>
    </div>
  </div>
</div>
